In [36]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#data collection and preprocessing

In [4]:
data = pd.read_csv('spam.csv', encoding='latin1')
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [5]:
#replace null values with null spaces

In [6]:
mail_data=data.where(pd.notnull(data),'')

In [7]:
mail_data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,,,
5568,ham,Will Ì_ b going to esplanade fr home?,,,
5569,ham,"Pity, * was in mood for that. So...any other s...",,,
5570,ham,The guy did some bitching but I acted like i'd...,,,
5571,ham,Rofl. Its true to its name,,,

In [8]:
mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [9]:
mail_data.shape

(5572, 5)

In [10]:
mail_data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [11]:
mail_data

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [12]:
mail_data.rename(columns={"v1": "CATEGORY","v2":"MESSAGES"}, inplace=True)

In [13]:
mail_data

     CATEGORY                                           MESSAGES
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ì_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [14]:
mail_data.shape

(5572, 2)

In [15]:
# label encoding(span:0,ham:1)

In [16]:
mail_data

     CATEGORY                                           MESSAGES
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ì_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [17]:
mail_data = mail_data.replace({'CATEGORY': {'spam': 0,  
                                'ham': 1}})

In [18]:
mail_data

      CATEGORY                                           MESSAGES
0            1  Go until jurong point, crazy.. Available only ...
1            1                      Ok lar... Joking wif u oni...
2            0  Free entry in 2 a wkly comp to win FA Cup fina...
3            1  U dun say so early hor... U c already then say...
4            1  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         0  This is the 2nd time we have tried 2 contact u...
5568         1              Will Ì_ b going to esplanade fr home?
5569         1  Pity, * was in mood for that. So...any other s...
5570         1  The guy did some bitching but I acted like i'd...
5571         1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [19]:
#splitting the data

In [21]:
x=mail_data['MESSAGES']
y=mail_data['CATEGORY']

In [24]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: MESSAGES, Length: 5572, dtype: object

In [25]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: CATEGORY, Length: 5572, dtype: int64

In [26]:
#splitting the data into training and testing data

In [27]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [28]:
x.shape

(5572,)

In [29]:
y.shape

(5572,)

In [30]:
X_train.shape

(4457,)

In [31]:
X_test.shape

(1115,)

In [32]:
Y_train.shape

(4457,)

In [33]:
Y_test.shape

(1115,)

In [34]:
#transform the text data to feature vectors that can be used as input to logistic regression

In [39]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [57]:
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test)

In [43]:
# converting y into int (test and train)

In [58]:
Y_train=Y_train.astype('int')
Y_test=Y_test.astype('int')

In [59]:
# logistic regression

In [60]:
model=LogisticRegression()

In [61]:
model.fit(X_train_features,Y_train)

LogisticRegression()

In [62]:
#prediction in training data

In [63]:
prediction=model.predict(X_train_features)
accuracy=accuracy_score(Y_train,prediction)

In [64]:
print("Accuracy on training data:",accuracy)

Accuracy on training data: 0.9661207089970832

In [65]:
#prediction on testing data

In [66]:
model.fit(X_train_features,Y_train)

LogisticRegression()

In [67]:
prediction_test=model.predict(X_test_features)
accuracy_test=accuracy_score(Y_test,prediction_test)

In [68]:
print("Accuracy on training data:",accuracy_test)

Accuracy on training data: 0.9623318385650225

In [69]:
#building a predicate system

In [70]:
input_mail=["Nah I don't think he goes to usf, he lives around here though"]

In [71]:
input_data_features=feature_extraction.transform(input_mail)

In [74]:
predi=model.predict(input_data_features)
print(predi)
if(predi[0]==1):
    print("ham mail")
else:
    print("span mail")

[1]
ham mail